# Retail ML Project
Objectives
- Data Cleaning
- Data Transformation
- Data Modeling

## Data Cleaning
- Insepect the data and understand it 
- Clean the data to improve quality

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# pip install openpyxl
import openpyxl

In [28]:
# Step 0 - Open the excel file and read the descriptions
# Load the dataset and check it 
df = pd.read_csv("./datasets/train.csv")
df

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,NaN,140,53,36,New York,NY,Hamilton,Hamilton,City,...,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,NaN,140,141,18,Indiana,IN,South Bend,Roseland,City,...,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,NaN,140,63,18,Indiana,IN,Danville,Danville,City,...,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,NaN,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,...,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,NaN,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,...,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27316,279212,NaN,140,43,72,Puerto Rico,PR,Coamo,Coamo,Urban,...,42.73154,40.16667,24.79821,230.87898,938.0,0.60422,0.24603,0.03042,0.02249,0.14683
27317,277856,NaN,140,91,42,Pennsylvania,PA,Blue Bell,Blue Bell,Borough,...,38.21269,39.50000,21.84826,496.20427,2039.0,0.68072,0.61127,0.05003,0.02473,0.04888
27318,233000,NaN,140,87,8,Colorado,CO,Weldona,Saddle Ridge,City,...,43.40218,46.33333,23.40858,316.52078,1364.0,0.78508,0.70451,0.01386,0.00520,0.07712
27319,287425,NaN,140,439,48,Texas,TX,Colleyville,Colleyville City,Town,...,39.25921,43.41667,21.36235,1373.94120,5815.0,0.93970,0.75503,0.02287,0.00915,0.05261
27320,265371,NaN,140,3,32,Nevada,NV,Las Vegas,Paradise,City,...,34.45345,29.83333,19.77208,526.73261,1911.0,0.27912,0.34426,0.03825,0.03005,0.13320

In [41]:
empty = df.columns[df.isna().any()].tolist()
for x, i in enumerate(empty):
    if i in df.columns:
        empty[x] = empty[x] + f" {df[i].isnull().sum()}"
empty

['BLOCKID 27321',
 'rent_mean 314',
 'rent_median 314',
 'rent_stdev 314',
 'rent_sample_weight 314',
 'rent_samples 314',
 'rent_gt_10 314',
 'rent_gt_15 314',
 'rent_gt_20 314',
 'rent_gt_25 314',
 'rent_gt_30 314',
 'rent_gt_35 314',
 'rent_gt_40 314',
 'rent_gt_50 314',
 'hi_mean 268',
 'hi_median 268',
 'hi_stdev 268',
 'hi_sample_weight 268',
 'hi_samples 268',
 'family_mean 298',
 'family_median 298',
 'family_stdev 298',
 'family_sample_weight 298',
 'family_samples 298',
 'hc_mortgage_mean 573',
 'hc_mortgage_median 573',
 'hc_mortgage_stdev 573',
 'hc_mortgage_sample_weight 573',
 'hc_mortgage_samples 573',
 'hc_mean 600',
 'hc_median 600',
 'hc_stdev 600',
 'hc_samples 600',
 'hc_sample_weight 600',
 'home_equity_second_mortgage 457',
 'second_mortgage 457',
 'home_equity 457',
 'debt 457',
 'second_mortgage_cdf 457',
 'home_equity_cdf 457',
 'debt_cdf 457',
 'hs_degree 190',
 'hs_degree_male 200',
 'hs_degree_female 223',
 'male_age_mean 189',
 'male_age_median 189',
 'male_age_stdev 189',
 'male_age_sample_weight 189',
 'male_age_samples 189',
 'female_age_mean 206',
 'female_age_median 206',
 'female_age_stdev 206',
 'female_age_sample_weight 206',
 'female_age_samples 206',
 'pct_own 268',
 'married 191',
 'married_snp 191',
 'separated 191',
 'divorced 191']

In [42]:
# Drop the blockid since it is all null
df = df.drop("BLOCKID", axis=1)

In [8]:
df

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,140,53,36,New York,NY,Hamilton,Hamilton,City,tract,...,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,140,141,18,Indiana,IN,South Bend,Roseland,City,tract,...,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,140,63,18,Indiana,IN,Danville,Danville,City,tract,...,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,...,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,...,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27316,279212,140,43,72,Puerto Rico,PR,Coamo,Coamo,Urban,tract,...,42.73154,40.16667,24.79821,230.87898,938.0,0.60422,0.24603,0.03042,0.02249,0.14683
27317,277856,140,91,42,Pennsylvania,PA,Blue Bell,Blue Bell,Borough,tract,...,38.21269,39.50000,21.84826,496.20427,2039.0,0.68072,0.61127,0.05003,0.02473,0.04888
27318,233000,140,87,8,Colorado,CO,Weldona,Saddle Ridge,City,tract,...,43.40218,46.33333,23.40858,316.52078,1364.0,0.78508,0.70451,0.01386,0.00520,0.07712
27319,287425,140,439,48,Texas,TX,Colleyville,Colleyville City,Town,tract,...,39.25921,43.41667,21.36235,1373.94120,5815.0,0.93970,0.75503,0.02287,0.00915,0.05261
27320,265371,140,3,32,Nevada,NV,Las Vegas,Paradise,City,tract,...,34.45345,29.83333,19.77208,526.73261,1911.0,0.27912,0.34426,0.03825,0.03005,0.13320